body {
    #content {
        .JsonGet {
            max-width: 500px;

            .file {
                margin: 20px 0;
                border: 1px solid;
                padding: 15px;

                .field {
                    display: flex;

                    .field-item {
                        padding: 10px 20px;
                    }

                    .field-label {
                        width: 100px;
                        text-align: right;
                    }

                    .field-content {
                        border-left: 1px solid;
                    }
                }
            }
        }
    }
}
