.JsonInput {
    @include child-margin(20px);

    .wrapper {
        display: flex;

        .item1 {
            .JsonInputForm {
                border: 1px solid;
                padding: 20px;

                .form-item-wrapper {
                    margin-bottom: 20px;
                }

                label {
                    display: block;
                    padding: 10px 0;
                }

                input,
                textarea {
                    width: 100%;
                    display: block;
                    box-sizing: border-box;
                    padding: 5px;
                    //padding: 20px 0px;
                }

                textarea {
                    min-height: 100px;
                }
            }
        }

        .item2 {
            flex: 1;

            .JsonOutput {
                padding: 20px;
                box-sizing: border-box;
                border: 1px solid;
                min-height: 350px;

                .field-wrapper {
                    display: flex;
                    flex-wrap: wrap;

                    > .field-item {
                        margin: 1%;
                        box-sizing: border-box;
                        border: 1px solid;
                        width: 48%;

                        .field {
                            display: flex;

                            .field-item {
                                padding: 10px 20px;
                            }

                            .field-label {
                                width: 100px;
                                text-align: right;
                                background: #000000;
                                color: #ffffff;
                            }

                            .field-content {
                                //border-left: 1px solid;
                            }
                        }
                    }
                }
            }
        }
    }
}
