.JsonInput {
    @include child-margin(20px);

    .wrapper {
        display: flex;

        .item1 {
            .JsonInputForm {
                border: 1px solid;
                padding: 20px;

                .form-item-wrapper {
                    margin-bottom: 20px;
                }

                label {
                    display: block;
                    padding: 10px 0;
                }

                input,
                textarea {
                    width: 100%;
                    display: block;
                    box-sizing: border-box;
                    padding: 5px;
                    //padding: 20px 0px;
                }

                textarea {
                    min-height: 100px;
                }
            }
        }

        .item2 {
            flex: 1;

            .JsonOutput {
                border: 1px solid;
                padding: 20px;
            }
        }
    }
}
